/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.mbfg-google-map__wrap{
	display: flex;
	
	.mbfg-google-map__iframe {
		width: 100%;
		box-shadow: none;
		border: none;
		padding: 0;
		margin: 0;
	}
}
